<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center text-center">
        <span class="text-primary font-bold text-3xl mb-2">404</span>
        <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Página no encontrada</h1>
        <p class="text-600 text-xl mb-5">La ruta que buscás no existe.</p>
        <a [routerLink]="['/projects']" pButton label="Volver a Proyectos" icon="pi pi-arrow-left"></a>
    </div>
</div>
